{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <h2>Active Listings</h2>

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    {% if empty %}
        <p>No Active Listings available</p>
    {% else %}
        {% for product in products reversed %}
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <div style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border:1px solid #ccc;">
                    <h3 style="text-align: center">
                        <img src="{{ product.URL }}" style="height: 400px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                    </h3>
                    <div  style="text-align: center">
                        <h3>{{ product.title }}</h3>
                        <h4>Price: ${{ product.starting_bid }}</h4>
                        <h5>Product Description: {{ product.description }}</h5>
                        <h6>Sold by {{ product.seller }}</h6>
                        <h6>Created {{ product.created_at }}</h6>
                        <a style="text-align: center" href="{% url 'viewlisting' product.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
